body{
    background-color: #48494D;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Slab', serif;
}

.main{
    margin: auto;
    margin-top: 100px;
    width: 70%;
    background-color: #48494D;
    border: solid;
    border-color: #AC7054;
    color: white;
}

header{
    display: flex;
    padding: 40px 40px 30px 40px;
    justify-content:space-between;
    align-items:center;
}

h1{
    text-align: center;
    font-size: 3.5em;
    color: #AC7054;
}

#logo{
    width: 100px;
}

nav{
    background-color: #AC7054;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

#contact{
    color: rgb(153, 152, 152);
}

a:visited{
    color: white;
}


ul li{
    list-style: none;
    display: inline;
}

li{
    padding: 5px 0 5px 0;
    font-size: 2em;
}

ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.contactGroup{
    display: flex;
    margin: 50px 100px 50px 100px;
}

form, section{
    width: 50%;
}

section{
    padding-right: 20px;
}

form{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 450px) {
    .contactGroup{
        margin: 10px !important;
    }
}

@media (max-width: 800px) {

    .contactGroup{
        flex-direction: column;
        align-items: center;
        margin: 25px;
    }

    form, section{
        width: 80%;
        padding: 0;

    }

    section{
        text-align: center;
    }

}