body{
    background-color: #48494D;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Slab', serif;
}

.main{
    margin: auto;
    margin-top: 100px;
    width: 70%;
    background-color: #48494D;
    border: solid;
    border-color: #AC7054;
    color: white;
}

header{
    display: flex;
    padding: 40px 40px 30px 40px;
    justify-content:space-between;
    align-items:center;
}

h1{
    text-align: center;
    font-size: 3.5em;
    color: #AC7054;
}

#logo{
    width: 100px;
}

nav{
    background-color: #AC7054;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

#knifeGallery{
    color: rgb(153, 152, 152);
}

ul li{
    list-style: none;
    display: inline;
}

li{
    padding: 5px 0 5px 0;
    font-size: 2em;
}

ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
}


section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#knifePic{
    width: 350px;
    height: 100%;
}

.myContainer{
    padding: 15px;
}

